/**
 * Pistachio common style
 */

/* preserve space for nav bar
 */
body { padding-top: 70px; padding-bottom: 70px;}

.bg-nav-black {
    background-image: linear-gradient(bottom, rgb(240,240,240) 3%, rgb(247,247,247) 52%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(247,247,247) 52%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(247,247,247) 52%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(247,247,247) 52%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(247,247,247) 52%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.03, rgb(240,240,240)),
            color-stop(0.52, rgb(247,247,247))
    );
}

#pic_left {
    float: left;
    text-align: center;
    margin: 3px 12px 0 0;
    max-width: 100px;
    max-height: 140px;
    overflow: hidden;
}

#info-right {
    float: left;
    margin-left: 10px;
    max-width: 260px;
    word-wrap: break-word;
}

#process-bar-right {
    float: left;
    margin-top: 15px;
    margin-left: 40px;
    max-width: 248px;
    word-wrap: break-word;
}

.book-title-text {
    font-size: xx-large;
}

.book-title-xlarge {
    word-wrap: normal;
    font-size: x-large;
}

.book-pic-center {
    text-align: center;
    overflow: hidden;
}

.img-little-book {
    height: 140px;
    width: 100px;
}
